@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Kreon&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
}
input {
    display: flex;
    background-color: var(--purple);
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 0.3rem;
    color: white;
    margin-top: 4px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.form-row {
    display: flex;
    gap: 2rem;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

:root {
    --title: 'Jockey One', sans-serif;
    --text: 'Kreon', serif;
    --deep-purple: #20052C;
    --purple: #270337;
}
#left-container {
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 30vw;
}
#right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#right-container > div {
    padding-left: 6rem;
    padding-right: 6rem;
}
.logo-container {
    background-color: rgba(1, 1, 1, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    flex: 1;
    height: 7rem;
}
.logo {
    width: 6rem;
}
.odin-title {
    font-family: var(--title);
    color: white;
    font-size: 3.5rem;
}
.text-container {
    background-color: var(--deep-purple);
    box-shadow: 0px 35px 77px 0px rgba(96, 62, 62, 0.10) inset, 0px 141px 141px 0px rgba(96, 62, 62, 0.09) inset, 0px 317px 190px 0px rgba(96, 62, 62, 0.05) inset, 0px 563px 225px 0px rgba(96, 62, 62, 0.01) inset, 0px 880px 246px 0px rgba(96, 62, 62, 0.00) inset;
    height: 30vh;
    font-family: var(--text);
    color: white;
    font-size: 1.3rem;
    padding-top: 5rem;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--text);
    color: white;
    font-size: 1.3rem;
    padding-top: 1rem;

    background: var(--purple);
    height: 45vh;
    box-shadow: 31px 0px 67px 0px rgba(195, 40, 40, 0.00) inset, 122px 0px 122px 0px rgba(195, 40, 40, 0.00) inset, 275px 0px 165px 0px rgba(195, 40, 40, 0.00) inset, 488px 0px 195px 0px rgba(195, 40, 40, 0.00) inset, 763px 0px 214px 0px rgba(195, 40, 40, 0.00) inset;

}
button {
    border: none;
    padding: 0;
}
#sign-up-btn {

    margin-top: 1.5rem;
    padding: 15px 45px;
    border-radius: 12px;
    background-color: #3A0152;
    color: white;
    font-family: var(--text);
    font-size: 1.2rem;
}
.sign-up-container {
    background-color: var(--deep-purple);
    height: 25vh;
}
label {
    font-size: 0.9rem;
}
.account-text {
    margin-top: 1rem;
    font-family: var(--text);
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
}
#login-btn {
    font-family: var(--text);
    font-size: 18px;
    color: #DCCAE9;
    text-decoration: none;
}